In [2]:
from google.oauth2 import service_account

In [3]:
import pandas as pd
pd.set_option ('display.max_columns', 599)
pd.set_option ('display.max_rows', 599)

project_id = 'kolesa-android-app'
credentials = 'kolesa-android-app-715adc9bdf26.json'
credentials = service_account.Credentials.from_service_account_file(credentials)

In [4]:
q = "SELECT * FROM `kolesa-android-app.academy.time_series_dataset` ORDER BY 1"
data = pd.read_gbq(q, project_id=project_id, credentials=credentials, dialect='standard', progress_bar_type = 'tqdm')
data.head()

Downloading: 100%|█████████████████████████████████████████████████████████████|

   event_date      y
0  2020-01-01   5721
1  2020-01-02   8274
2  2020-01-03   9344
3  2020-01-04   9864
4  2020-01-05  10435

In [8]:
import matplotlib.pyplot as plt

In [25]:
data[data.y <= 1000]

     event_date    y
737  2022-01-06  324
738  2022-01-07   51
739  2022-01-08  795